<h2>PskbProductGroupsIssueController#show</h2>
<div>
    <%= @pskb_product_groups_issue.id %>
    <%= @pskb_product_groups_issue.percentage %>
    <%= @pskb_product_groups_issue.issue_id %>
    <%= @pskb_product_groups_issue.pskb_product_groups_id %>
</div>

<%= delete_link @pskb_product_groups_issue %>
<%= link_to 'Редактировать', edit_pskb_product_groups_issue_path(@pskb_product_groups_issue) %>

